@using HavaalaniOtomasyonuApp.Models
@model Ucak
@{
    ViewBag.Title = "Uçak Ekle";
}

@using (@Html.BeginForm("Ekle", "Ucak", FormMethod.Post)) // html form olsun diye bu yeşil yeri aç ajax kullanmıcaksan
{
    @*<div style="margin:0 auto; margin-top:100px;margin-left:20px" class="bg-dark">
        <div class="form-group">
            @Html.LabelFor(u => u.Ucak_Adi)
            @Html.TextBoxFor(u => u.Ucak_Adi, new { @class = "form-control" })
            @Html.ValidationMessageFor(u => u.Ucak_Adi)
            <label id="lblucakAdiHata" style="display:none;color:red">Uçak Adı Giriniz!</label>
        </div>
        <div class="form-group">
            @Html.LabelFor(u => u.Kapasite)
            @Html.TextBoxFor(u => u.Kapasite, new { @class = "form-control" })
            @Html.ValidationMessageFor(u => u.Kapasite)
            <label id="lblucakKapasiteHata" style="display:none;color:red">Kapasite Giriniz!</label>
        </div>
        <input type="submit" name="btnKaydet" value="Kaydet" class="btn btn-success" onclick="return BoslukKontrol()" />
    </div>*@

    <br />
    <div class="container">
        <div class="d-flex justify-content-center h-100 ">
            <div class="card">
                <div class="card-header  bg-dark">
                    <h3 class="text-warning">Uçak Ekle</h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                @Html.LabelFor(u => u.Ucak_Adi) :
                            </div>
                            
                            @Html.TextBoxFor(u => u.Ucak_Adi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(u => u.Ucak_Adi)
                            <label id="lblucakAdiHata" style="display:none;color:red">Uçak Adı Giriniz!</label>


                        </div>
                        <div class="input-group form-group">

                            @Html.LabelFor(u => u.Kapasite):
                            @Html.TextBoxFor(u => u.Kapasite, new { @class = "form-control" })
                            @Html.ValidationMessageFor(u => u.Kapasite)
                            <label id="lblucakKapasiteHata" style="display:none;color:red">Kapasite Giriniz!</label>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn float-right login_btn btn-warning" style="font-size:small" onclick="return BoslukKontrol()">Kaydet</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>


}

@section scripts{
    <script>
        function BoslukKontrol() {
            var hatayok = true;
            if ($("#Ucak_Adi").val() == "" || $("#Kapasite").val() == "") {
                $("#lblucakAdiHata").show();
                $("#lblucakKapasiteHata").show();
                hatayok = false;
            }
            return hatayok;
        }
    </script>

}
