<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/bootstrap.js" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>

</head>
<body style="background-image:url('https://images5.alphacoders.com/863/863248.jpg');background-size:cover">
    <div class="navbar navbar-toggler navbar-dark fixed-top bg-dark">
        <div class="container">
            <div class="navbar-header">

                @Html.ActionLink("Anasayfa", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            @*<div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar">
                        </span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Havaalani Ekle", "Ekle", "Havaalani", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Havaalani Listesi", "Index", "Havaalani", new { area = "" }, new { @class = "navbar-brand" })
                </div>*@

            @*<div class="navbar-header ">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><b>Havaalani İşlemleri</b> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="~/Havaalani/Ekle">Havaalani Ekle</a></li>
                                <li><a href="~/Havaalani/Index">Havaalani Listesi</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>*@
            <div class="navbar-header ">
                <div class="dropdown show">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Havaalani İşlemleri
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="~/Havaalani/Ekle">Havaalani Ekle</a>
                        <a class="dropdown-item" href="~/Havaalani/Index">Havaalani Listesi</a>
                    </div>
                </div>
            </div>
            <div class="navbar-header ">
                <div class="dropdown show">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Uçak İşlemleri
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="~/Ucak/Ekle">Ucak Ekle</a>
                        <a class="dropdown-item" href="~/Ucak/Index">Ucak Listesi</a>
                    </div>
                </div>
            </div>

            @*<div class="navbar-header ">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><b>Ucak İşlemleri</b> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="~/Ucak/Ekle">Ucak Ekle</a></li>
                                <li><a href="~/Ucak/Index">Ucak Listesi</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>*@

            <div class="navbar-right" style="background-color:darkred;">
                <button type="button" class="navbar-toggle btn-danger" data-toggle="collapse" data-target=".navbar-collapse">
                    @Html.ActionLink(" Logout", "Logout", "Login", new { area = "" }, new { @class = "navbar-brand" })
                </button>

            </div>

            @*<div class="navbar-header navbar-right" style="background-color:red;">
                                <span class="glyphicon glyphicon-log-in">
                                    <button type="button" class="glyphicon glyphicon-log-in" data-toggle="collapse" data-target=".navbar-collapse">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    @Html.ActionLink("Logout", "Logout", "Login", new { area = "" }, new { @class = "navbar-brand" })
                </div>*@

            @*<ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                </ul>*@
            @*<div class="navbar-header">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Havaalani İşlemleri <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="~/Havaalani/Ekle">Havaalani Ekle</a></li>
                                <li><a href="~/Havaalani/Index">Havaalani Listesi</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>*@



            @*<div class="navbar-header">
                    <a class="navbar-brand" href="#">WebSiteName</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Page 1-1</a></li>
                            <li><a href="#">Page 1-2</a></li>
                            <li><a href="#">Page 1-3</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Page 2</a></li>
                </ul>*@



            @*<div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                    </ul>
                </div>*@
        </div>
    </div>
 
    <div class="container body-content popover-body">
      
        @RenderBody()
       
        
        <div class=" text-sm-center navbar-dark fixed-bottom bg-dark">
         
                <p style="color:white">&copy; @DateTime.Now.Year - Serkan's ASP.NET Application</p>
   
        </div>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    @RenderSection("scripts", false)
</body>
</html>