@model HavaalaniOtomasyonuApp.Models.Havaalani
@{
    ViewBag.Title = "Duzenle";
}

<h2>Havaalanı Duzenle</h2>

@using (Html.BeginForm("Duzenle", "Havaalani", FormMethod.Post))
{
    @Html.HiddenFor(h => h.HavaalaniId)
    <div class="form-group">
        @Html.LabelFor(h => h.Havaalani_Adi)
        @Html.TextBoxFor(h => h.Havaalani_Adi, new { @class = "form-control" })
        @Html.ValidationMessageFor(h => h.Havaalani_Adi)
        <label id="lblhavaalaniAdiHata" style="display:none;color:red">Havaalanı Adı Giriniz!</label>
    </div>
    <div class="form-group">
        @Html.LabelFor(h => h.Havaalani_Kodu)
        @Html.TextBoxFor(h => h.Havaalani_Kodu, new { @class = "form-control" })
        @Html.ValidationMessageFor(h => h.Havaalani_Kodu)
        <label id="lblhavaalaniKoduHata" style="display:none;color:red">Havaalani Kodu Giriniz!</label>
    </div>

    <input type="submit" name="btnKaydet" value="Kaydet" class="btn btn-success" onclick="return BoslukKontrol() " />
}

@section scripts{
    <script>
        function BoslukKontrol() {
            var hatayok = true;
            if ($("#Havaalani_Adi").val() == "" || $("#Havaalani_Kodu").val() == "") {
                $("#lblhavaalaniAdiHata").show();
                $("#lblhavaalaniKoduHata").show();
                hatayok = false;
            }
            return hatayok;
        }
    </script>
}